body {
  margin: 0;
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  height: 100vh;

  /*REMOVED CARD BACKGROUND SHADOW BECAUSE FLEX NEEDED HEIGHT OF THE CARD SET TO 100VH TO VERTICALLY CENTER*/
  /*border-radius: 5%;*/
  /*box-shadow: 0 0 20px 8px rgba(255, 255, 255, 0.15),
              inset 0 0 180px 40px rgba(255, 255, 255, 0.15);*/
}

h1 {
  font-family: Palatino, serif;
  font-style: italic;
  transform: scaleY(1.25);
  margin: 0;
}

p,
span {
  font-family: arial, sans-serif;
}

#latitude {
  margin-bottom: 0;
  margin-top: 0.25em;
}

#longitude {
  margin: 0;
}

#localTime {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
}

#sunrise {
  margin-top: 0;
  margin-bottom: 0;
}

#sunset {
  margin-top: 0;
}

#temp {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 200%;
}

#tempButtons {
  margin-bottom: 0;
}

.active {
  background: rgba(255, 255, 255, 0.6);
}

#celsius,
#fahrenheit {
  display: inline-block;
  border: 1.5px solid black;
  padding: 3px 6px;
  width: 20px;
  cursor: pointer;
}

#celsius:hover,
#fahrenheit:hover {
    background: rgba(255, 255, 255, 0.9);
}

#celsius {
  border-radius: 30% 0 0 30%;
}

#fahrenheit {
  border-radius: 0 30% 30% 0;
}

#city {
  margin-top: 12px;
  height: 20px;
}

#search {
  display: inline-block;
  border: 1.5px solid black;
  height: 20px;
  padding: 1.5px;
  cursor: pointer;
}

#search:hover {
  background: rgba(255, 255, 255, 0.9);
}

#note {
  font-size: 75%;
  margin: 0;
}

#timestamp {
  /*align-self: flex-end;*/
  font-size: 75%;
}

#serenityNow {
  width: 109px;
  height: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
}

/*collapsible menu base from: https://codeburst.io/how-to-make-a-collapsible-menu-using-only-css-a1cd805b1390*/

.menu-content {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 225px;
  height: 100vh;
}

.collapsible-menu label {
  display: block;
  cursor: pointer;
  background: url(info.svg) no-repeat left center;
  padding: 40px;
  position: absolute;
  top: 0;
  right: 0;
}

#menu {
  display: none;
}

input:checked +label {
  background: url(close.svg);
}

input:checked ~ .menu-content {
  height: 100vh;
}

@media screen and (max-width: 700px) {
  .collapsible-menu label {
    padding: 25px;
  }
}

@media screen and (max-height: 675px) {
  #serenityNow {
    width: 69px;
    height: 60px;
  }
}

@media screen and (max-height: 420px) {
  .card {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
